*{
	margin:0;
	padding:0;
}
img{
	border:none;
}
body{
	background-image:url(images/bac.jpg);
	background-size: 100%;
	position:relative;
}
.concert-body{
	width:970px;
	margin: 0 auto;
	background: #fff;
	margin-top: -40px;
}
.concert-body .introduce{
	margin-top:20px;
	padding-top:50px;
	padding-bottom: 50px;
	text-align: center;
}
.title{
	background-image: url(images/title-bac.png);
	background-size:100% 100%;
	width:65%;
	height: 120px;
	margin:0 auto;
	padding-left:100px;
	line-height:150px;
	color:#F5CA44;
	margin-bottom: 40px;
	font-size:1.4rem;
}
.actor{
	background-image: url(images/actor_bac.jpg);
	background-size:100% 100%;
	height: 400px;
	width:100%;
}
.wayList {
	margin-top:60px;
	margin-bottom: 40px;
	font-size:0;
	height:90px;
}
.wayList .iconWay{
	display: inline-block;
	margin-left:20px;
	margin-right: 20px;
	transition: .5s;
}
.wayList .iconWay img{
	left:0;
	width:90px;
	height: 90px;
	transition: .5s;
}
.wayList img{
	width:100px;
	display: inline-block;
	vertical-align: middle;
}
.wayImg{
	margin-top: 20px;
	position: relative;
	width: 100%;
	height:506px;
	overflow: hidden;
}
.wayImg img{
	display: inline-block;
	width:80%;
	position: absolute;
	height: 500px;
}
.wayImg #img0{
	left:-110%;
}
.wayImg #img1{
	left:10%;
}
.wayImg #img2{
	left:150%;
}
.wayImg #img_0{
	left:10%;
}
.wayImg #img_1{
	left:150%;
}
#goodcover {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: 0.50;
	filter: alpha(opacity=80);
}
#code {
	width: 850px;
	height: 600px;
	background-color: #fff;
	padding: 10px;
	position: absolute;
	display: none;
	left: 45%;
	z-index: 1002;
}
.close1 {
	width: 100%;
	height: 60px;
}
#closebt {
	float: right;
}
#closebt img {
	width: 20px;
}
.code-img {
	width:100%;
	height:500px;
}
.code-img img {
	display:block;
	width: 90%;
	height: 100%;
	margin:0 auto;
}

